.buttonPagination{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}


.buttonPagination > .number{
   width: 35px;
   height: 35px;
   padding: 10px;
   display: grid;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: black;
   color: white;
  
}

.buttonPagination > button{
    width: 35px;
    height: 35px;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--gray-color);
    cursor: pointer;
 }

 .buttonPagination > button:hover{
    scale: 1.1;
 }