.btn_add{
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: all .3s ease;
}

.btn_add:hover{
    background-color: white;
    border: 1px solid green;
    color: green;
    cursor: pointer;
}

