.card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    padding-top: 0.5rem;
    cursor: pointer;
    position:relative;
    transition: opacity .3s ease;
}

.card_vanish{
    opacity: 0;
}

.card_circle-heart{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2000;
}

.card_content{
    padding: 0.5rem .5rem 0.5rem 0.5rem;
    background-color: var(--gray-color);
    height: 30%;
    position: relative;
    width: 100%;
}

.card_t-p{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
}

.card_image {
  height: 70%;
  width: 70%;
  display: block;
  transition: scale 0.3s ease;
}

.card_image:hover{
    scale: 1.03;
}

.card_title{
    align-self: baseline;
    font-family: 'Titillium Web', sans-serif;
}

.card_price{
   font-weight: bold;
   font-size: 1.5rem;
   color: green;
   align-self: center;
}

.card_footer{
    display: flex;
    justify-content: space-between;
}

.card_description{
    font-size: 0.8em;
}

.card_btnAdd{
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0 0.5rem;
}

.card_btnEdit{
    background-color: green;
    border-radius: 15px;
    color:white;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.card_btnEdit:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer
}

.card_btn_admin{
    display: flex;
    justify-content: flex-end;
    
}

.card_btn_admin > button > i {
    position: relative;
    top: 4px;
}

@media (max-width:360px){
    .card_circle-heart{
       
        right: 0px;
        top: 0px;
    
    }
}
