.filter_title{
    font-size: 2rem;
}

.filter{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding:  0.2rem 0.5rem;
    width: 100%;
    background-color: var(--gray-color);
    border-radius: 10px ;
    margin-bottom: 4rem;
}

.filter > button{
    cursor: pointer;
}

.filter_input{
    width: 100%;
    height: 40px;
    background-color: var(--gray-color);
    outline: none;
    border: none;
    font-size: 0.9rem;
}

@media (max-width:768px) {
    .filter{
        margin-left: 5rem;
    }
}