.imageCard_listImage{
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.imageCard_listImage > div {
   height: calc(25% - 5px);
}

.imageCard_listImage > div > img {
    height: 100%;
    border: 1px solid black;
}



.imageCard_listImage > div:hover {
    border: 3px rgb(128, 128, 128,0.5) solid;
    
}   

.imageCard_image{
 width: 85%;
 border: 1px solid black;
}

.imageCard_image > img{
    height: 100%;
   }

@media(max-width: 460px){
    .imageCard_listImage{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
        height: 20%;
     }

     .imageCard_image{
        width: 100%;
        height: 80%;
       }
     
       .imageCard_listImage > div {
        height: 100%;
     }
     
}   