.Modal {
  min-width: 600px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -60px;
  right: calc(50% - 300px);
  top: calc(50% - 350px);
  z-index: 10000;
}


.modal_header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: end;
}

.modal_title{
   position: relative;
   top: 5px;
}
.modal_btn_close{
  transition: all 0.1s ease;
}

.modal_btn_close:hover{
  cursor: pointer;
  scale: 1.05;
}



.modal_form{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    padding-bottom: 3rem;
    position: relative;
  
}

.modal_form_principal{
 display: flex;
 justify-content: baseline;
 gap: 1rem;
}

.modal_form_area{
    display: flex;
    flex-direction: column;
    
}

.modal_form_area > label {
    font-size: 1.6rem;
    position: relative;
    top: 5px;
}

.modal_form_area > input {
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    outline: none;
    height: 1.5rem;
    padding: 5px;
    font-size: 1.1rem;
    
}

.modal_form_area > textarea {
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    resize: none;
}

.modal_img{
  display: flex;
  flex-direction: column;
}

.list_image{
  grid-template-columns: repeat( auto-fit, minmax(200px, 150px) );
  grid-auto-rows: minmax(125px,100px);
}

.modal_img > label {
  font-size: 1.6rem;
}

.modal_footer{
  height: 10%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  position: absolute;
  bottom: 5px;
  right: 1rem;
}

.modal_submit{
  margin-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0 1.5rem;
  align-self: flex-end;
}

@media (max-width:640px){
  .Modal {
    min-width: 400px;
    right: calc(50% - 200px);
    top: -50px;
  }

}

@media (max-width:460px){
  .Modal {
    min-width: 280px;
    right: calc(50% - 130px);
    top: -50px;
  }

}