nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem 0rem 5rem;
    top: 0px;
    position: fixed;
    width: 100%;
    margin: auto;
    transition: all 0.3s ease;
    background-color: white;
    z-index: 1000;
}

nav.noShow{
    top: -80px
}

.title{
    margin-bottom: 10px;
}

.title > h1 {
    font-family: 'Titillium Web', sans-serif; ;
    font-weight: lighter;
    font-size: 2rem;
    align-self: flex-end;
   
}

.title > h1 > span {
    font-family: inherit;
    font-weight: bold;
    font-size: 2.2rem;

}