.search{
    width: 70vw;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.search_card_font{
    font-size: .8rem;
}

@media (max-width:768px) {
    .search{
        width: 100%;
    }
}

@media (max-width:360px){
   .search_card_font{
    font-size: .6rem;
   }
}