
.main-container {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}




/* Slider container */
.slider-container {
  position: relative;
  height: 100%;
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}


.container-images {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

.showImage {
  opacity: 1;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}