.userRouter{
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    border-radius: 1rem;
    background-color: var(--gray-color);
    padding: 1rem;
    position: relative;
}

@media (max-width:768px){
    .userRouter{
        width: calc(100% - 60px);
        margin-left: 2rem;
    }
}

@media (max-width:460px){
    .userRouter{
        width: calc(100% - 30px);
        margin-left: 2rem;
    }
}

@media (max-width:350px){
    .userRouter{
        width: 100%;
        margin-left: 3rem;
    }
}