.userPage_data{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.userPage_data > h3{
    font-size: 1.5rem;
}

.userPage_data > p {
    font-size: 1.5rem;
}

@media (max-width:430px){
    .userPage_data > h3{
        font-size: 1.1rem;
    }
    
    .userPage_data > p {
        font-size: 1.1rem;
    }

}